@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
}


#root {
  min-height: 100vh;
}
html, body {
  margin: 0;
  min-height: 100%;
}
